
body{ background-image: url(https://thf.bing.com/th/id/OIP.Do9yw3S6ZG4Aof24tm9eLgHaE7?w=291&h=194&c=7&r=0&o=7&cb=thfc1&dpr=1.1&pid=1.7&rm=3);
 background-repeat: no-repeat;
background-size: cover;
    color: white;}
 

h1 {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
text-color: white;
}

 

h2 {
  font-size: 30px;
text-color: white;
}

 

.established {
  font-style: italic;
}

 

h1, h2, p {
  text-align: center;
}

 

.menu {
  width: 80%;
  background-color: burlywood;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  max-width: 500px;
  border-radius: 8px;
}

 

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 150px;
}

 

hr {
  height: 2px;
  background-color: brown;
  border-color: brown;
}

 

.bottom-line {
  margin-top: 25px;
}

 

h1, h2 {
  font-family: Impact, serif;
}

 

.item p {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 18px;
}

 

.flavor, .dish {
  text-align: left;
  width: 75%;
}

 

.price {
  text-align: right;
  width: 25%;
}

 

/* FOOTER */

 

footer {
  font-size: 14px;
}

 

address {
  font-style: normal;
}

 

.address {
  margin-bottom: 5px;
}

 

a {
  color: black;
}

 

a:visited {
  color: black;
}

 

a:hover {
  color: brown;
}

 

a:active {
  color: brown;
}

